<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      <img src="../../../assets/Dimension logo.png" width="152" height="78">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="['/task-list']">Home</a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" [routerLink]="['/global-tasks']">
            <strong>Team mission</strong>
          </a>
          <a class="button is-light" [routerLink]="['/home']" (click)="onLogout()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- ESTO ES ES TOOLBAR-->



<ul *ngFor='let task of Iglobaltasks'>
  <li>{{task.avatar}}</li>
  <li>{{task.task1}}</li>
  <li>{{task.task2}}</li>
  <li>{{task.task2}}</li>
</ul>



  <div class="tasks">
  <h1 class="has-text-grey-light my-5">Project X process:</h1>
  <div class="bar">
    <progress class="progress is-info" value="60" max="100">60%</progress>
  </div>
  <ul>
    <li>
      <figure class="image is-128x128">
        <img class="is-rounded" src="../../../assets/avatar-user.png" />
      </figure>
    </li>
  </ul>
  <ul class="list" >
    <li class="subtitle is-5 has-text-primary	">Programing Tables</li>
    <li class="subtitle is-5 has-text-warning">In Progress</li>
  </ul>

