:host{

  nav{
  display: flex;
  justify-content: center;
  align-items: center;

    .navbar-start{
    margin-top: 6%;
    }
  }
  .tasks{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;



  h1{

    text-align: center;
  }

  .bar{
    margin: auto;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .list{
padding-top: 20px;
text-align: center;
  }
}

}
