
<div class="contenedor">

<h1 class=has-text-centered> Welcome to</h1>
<h1 class=has-text-centered>DIMENSION TIME</h1>

<form class="container" [formGroup]="myForm" (ngSubmit)="submit()">

  <div class="field">
    <label class="label">Email</label>
    <p class="control has-icons-left">
      <input class="input is-info" type="email" placeholder="ejemplo@gmail.com" formControlName="email">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small">
      </span>
    </p>
    </div>

<div class="field">
  <label class="label">Password</label>
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Introduzca la Contraseña" formControlName="password" minlength="8">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
  <p class="help is-danger" *ngIf="myForm.hasError('required', 'password')">Password is required</p>
  <!-- <p *ngIf="password.invalid" class="help is-danger">
  <span *ngIf="password.errors.min">The amount should be bigger than 0.01</span>
  </p> -->
</div>

  <div class= "has-text-centered" id="botones">
    <button class="button is-link" (click)="onLogin()" >Login</button>
    <p>¿No tienes cuenta?</p>
    <p [routerLink]="['/register']"><a>Regístrate</a> </p>
  </div>
  <!-- [routerLink]="['/task-list']" -->
</form>

</div>


 <!-- <div *ngIf="!isSignedIn">
  <h2>Sign up</h2>
  <input type = "text" #emailSignup/>
  <input type = "text" #passwordSignup/>
  <button (click)="onSignup(emailSignup.value, passwordSignup.value)">Sign up</button>
  </div>
  <hr>
  <div *ngIf="!isSignedIn">
  <h2>Sign in</h2>
  <input type = "text" #email/>
  <input type = "text" #password/>
  <button (click)="onSignin(email.value, password.value)">Sign up</button>
  </div>

  <app-home *ngIf="!isSignedIn" (isLogout)="handleLogout()"></app-home> -->


