
<div class="contenedor">

<h1 class=has-text-centered> Welcome to</h1>
<h1 class=has-text-centered>DIMENSION TIME</h1>

<form class="container" [formGroup]="myForm" (ngSubmit)="submit()">

  <div class="field">
    <label class="label">Email</label>
    <p class="control has-icons-left">
      <input class="input is-info" type="email" placeholder="ejemplo@gmail.com" formControlName="email">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small">
      </span>
    </p>
    <p *ngIf="myForm.controls.email.errors && (myForm.controls.email.dirty || myForm.controls.email.touched) "class="help is-danger">
      <span *ngIf="myForm.hasError('required', 'email')">Email address is required *</span>
      <span *ngIf="myForm.hasError('email', 'email')">The email address is badly formatted *</span>
    </p>
    </div>

<div class="field">
  <label class="label">Password</label>
  <p class="control has-icons-left">
    <input class="input is-info" type="password" placeholder="Introduzca la Contraseña" formControlName="password">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>

  <p *ngIf="myForm.controls.password.errors && (myForm.controls.password.dirty || myForm.controls.password.touched)" class="help is-danger">
  <span *ngIf="myForm.hasError('required', 'password')">Password is required *</span>
  <span *ngIf="myForm.hasError('pattern', 'password')">Password must be 7 characters including 1 uppercase letter and 1 lowercase letter *</span>
</p>
<span *ngIf="error" class="help is-danger">Password invalid *</span>

</div>

  <div class= "has-text-centered" id="botones">
    <button class="button is-link" (click)="onLogin()" [disabled]="!myForm.valid">Login</button>
    <p>¿No tienes cuenta?</p>
    <p [routerLink]="['/register']"><a>Regístrate</a> </p>
  </div>
</form>

</div>


 <!-- <div *ngIf="!isSignedIn">
  <h2>Sign up</h2>
  <input type = "text" #emailSignup/>
  <input type = "text" #passwordSignup/>
  <button (click)="onSignup(emailSignup.value, passwordSignup.value)">Sign up</button>
  </div>
  <hr>
  <div *ngIf="!isSignedIn">
  <h2>Sign in</h2>
  <input type = "text" #email/>
  <input type = "text" #password/>
  <button (click)="onSignin(email.value, password.value)">Sign up</button>
  </div>

  <app-home *ngIf="!isSignedIn" (isLogout)="handleLogout()"></app-home> -->


