.contenedor{
  margin: 2%;
  margin-top: 10%;
  padding: 5%;
  h1{
    font-size: 25px;
    color: rgb(160, 156, 156);
  }
  .container{
    margin-top: 8%;
  }
  #botones{
    margin-top: 10%;
    button{
      margin-bottom: 3%;
    }
  }
}
