<p>task-list works!</p>
<h1>ALL THE TASKS:</h1>
<a class="button is-primary" [routerLink]="['/task-details']"> TASK 1</a>
<a class="button is-link" [routerLink]="['/task-details']"> TASK 2</a>
<a class="button is-info" [routerLink]="['/task-details']"> TASK 3</a>
<a class="button is-success" [routerLink]="['/task-details']">TASK 4</a>
<a class="button is-warning" [routerLink]="['/task-details']">TASK 5</a>
<a class="button is-danger" [routerLink]="['/task-details']">TASK 6</a>
<h2>See global project:</h2>
<a class="button is-primary" [routerLink]="['/global-tasks']"> SEE TEAM TASKS</a>
<h2>Logout:</h2>
<a class="button is-primary" [routerLink]="['/home']"> LOGOUT</a>

