section{
  #collection{
    margin: 1%;
    display: flex;
    justify-content: space-around;
    .avatar{
      position: relative;
      border-radius: 30px;
    }
    .detalle{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 90%;
      button{

      }
      p{
        margin-left: 5%;
      }
    }

  }

}
