<h1>CONTADOR</h1>
<h1>TASK 1</h1>
<div>
  <p>{{hora}} : {{minuto}} : {{segundos}}</p>
</div>

<button class="button is-primary" (click)="start()" *ngIf='!mostrar'>INICIAR</button>
<div *ngIf='mostrar'>
  <button class="button is-success" (click)="pausar()">{{buttonLabel}}</button>
  <button class="button is-danger" (click)="parar()">FINALIZAR</button>
</div>


<div class="botones">
  <h2>Logout:</h2>
  <a class="button is-primary" [routerLink]="['/home']"> LOGOUT</a>
</div>
<a class="button is-primary" [routerLink]="['/task-list']"> SEE ALL TASKS</a>


