.contenido{
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  border: solid blue;
  .contador{
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 3%;
    border: solid green;
  }
  .resultado{
    margin-top: 6%;
    text-align: center;
    border: solid blueviolet;
  }
}
