<div>
  <img src="../../assets/astronauta1.png" alt="" width="400px" height="700px">
  <div class="contenido">
  <h1 class=has-text-centered> Welcome to</h1>
  <h1 class=has-text-centered>DIMENSION TIME</h1>
  <p class=has-text-centered>Controla el tiempo y la dimension de tu trabajo. Añade tareas y llega a los deadlines a tiempo con esta super app de project management.</p>
  <div class="botones">
    <button class="button is-primary" [routerLink]="['/login']">Login</button>
    <button class="button is-primary" [routerLink]="['/register']">Register</button>
  </div>

  </div>

</div>
