:host{
  width: 100%;
  height: 100%;
  .container{
    background-image: url(../../assets/fondo_home.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    img{
      margin-top: 15%;
      margin-bottom: 3%;
    }
    .contenido{
      font-size: 20px;
      color: rgb(160, 156, 156);
      padding: 4%;
      width: 100%;
      height: 600px;

      p{
        margin-top: 5%;
      }
      h1{
        font-size: 30px;
      }
      .botones{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 7%;
        button{
          width: 30%;
          margin: 5%;
        }
      }

    }

  }
}
